body {
  padding: 0px;
}

.title {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.container {
  display: flex;
  align-items: stretch;
}

.side {
  width: 20vw;
  margin-left: 15px;
  margin-right: 15px;
  flex-grow: 1;
}

.main {
  width: 1200px;
  flex: 3, 2, auto;
}

.page-list {
  padding-left: 0px;
}

